html {
    height: 100%;
    box-sizing: border-box;
}

.page {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen', Helvetica, sans-serif;
    color: #222;
    font-family: 'Oxygen', Helvetica, sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    border: 0;
}

p {
    font-size: 0.9em;
    margin: 0 0 10px;
    font-weight: 300;
}


/* Custom Scroll */

.mCSB_inside>.mCSB_container {
    margin-right: 0;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #ff724c;
    opacity: 1;
    border-radius: 0;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:focus .mCSB_dragger_bar {
    background-color: #ff724c;
    opacity: 1;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #e5e5e5;
}

a,
a:hover {
    color: #ff724c;
    text-decoration: none !important;
    outline: none;
}


/* /Custom Scroll */


/*Section and title*/

.section-title-block {
    margin-bottom: 40px;
    position: relative;
    text-align: center;
}

.section-title-wrapper {
    display: inline-block;
    position: relative;
    text-align: right;
}

.section-title {
    display: block;
    width: 100%;
    position: relative;
    margin: 12px 0 0;
    font-size: 60px;
    color: #070707;
    z-index: 1;
    line-height: 1.1em;
    opacity: 0.3;
}

.section-description {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 10px;
    background-color: #ff724c;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    z-index: 2;
    font-family: 'Oxygen', Helvetica, sans-serif;
}


/*Section and title*/


/*Define subpages*/

.site-main {
    height: 100%;
    margin-left: 150px;
    position: relative;
    background-color: #fff;
}

.wrapper {
    background-image: url(../images/main_bg_light.jpg);
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px 5%;
    background-color: #f5f5f5;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.subpages {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1500px;
    backface-visibility: hidden;
    margin: 0 auto;
}

.pt-page {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: auto;
    left: 0;
    overflow: hidden;
    visibility: hidden;
    box-shadow: 0 1px 33px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    background-color: #fff;
}

.pt-page-current {
    visibility: visible;
    z-index: 90;
    opacity: 1;
    overflow: hidden;
    height: 100%;
    min-height: 100%;
}

.section-inner {
    position: relative;
    padding: 20px 60px 50px;
}

.block-title h3 {
    display: inline-block;
    position: relative;
    margin: 0 0 20px;
    padding: 0;
}

.block-title h3:after {
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 100%;
    left: -10px;
    bottom: 0;
    background-color: #ff724c;
}


/*Define subpages*/


/*===============Blog Subpage==================*/

.item {
    position: relative;
    padding: 20px;
}

.blog-card {
    display: block;
    position: relative;
    padding: 0;
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.blog-card:hover {
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}

.media-block {
    position: relative;
    height: auto;
}

.media-block img {
    position: relative;
    max-width: 100%;
    height: auto;
}

.post-date {
    display: inline-block;
    background-color: #ff724c;
    color: #fff;
    position: absolute;
    text-align: center;
    min-width: 40px;
    padding: 5px;
    bottom: -10px;
    right: 20px;
}

.post-date span {
    display: block;
    color: #fff;
    line-height: 1;
    font: 12px;
    margin: 0;
}

.date {
    font-size: 15px;
    margin: 3px 0;
}

.month {
    font-weight: 300;
    margin-bottom: 3px;
}

.post-info {
    padding: 0.8em 1.2em 1.4em;
    font-family: Oswald, Helvetica, sans-serif;
}

.post-info a h4 {
    font-weight: 500;
}

.post-description {
    display: block;
    color: #a5a5a5;
    margin: 0 0 5px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.45em;
}

.post-description h4 {
    padding: 0;
    margin-top: 5px;
}


/*===============Blog Subpage==================*/
